<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
   <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>-->
    <script src=" //ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>    
    <script src="../javascripts/authenticationService.js"></script>
    <script src="../javascripts/services.js"></script>
    <script src="../javascripts/index.js"></script>
    
    <script src="../javascripts/detail.js"></script>
    

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body>
    <div class="container">
HI
        <!-- HEADER AND TODO COUNT -->
        <div ui-view="viewB">
            
        </div>

        <!-- TODO LIST -->
       <div id="main">
            <div ui-view="viewA"></div>

       </div>

        
    </div>

</body>
</html>