<form id='loginForm'>
    <div>
        <table>
            <tr>
                <td>
                    UserName
                </td>

                <td>
                    <input type="text" ng-model="userName" />
                </td>
            </tr>

            <tr>
                <td>
                    Password
                </td>

                <td>
                    <input type="password" ng-model="password">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" title="Submit" name="submit" value="Submit" ng-click="loginSubmit()" />
                </td>
            </tr>
        </table>

    </div>
</form>
<hr>

<p>Need an account? <a href ng-click="signupRedirect()">Signup</a></p>